.toast {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    color: #ffffff;
    color-scheme: light;
    background: white;
    max-width: 100%;
    width: 350px;
    box-shadow: 0 1px 1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.12), 0 4px 4px rgba(0,0,0,.12), 0 8px 8px rgba(0,0,0,.12), 0 16px 16px rgba(0,0,0,.12);
    z-index: 99999;
  }
  
  .content {
    flex: 1;
    padding: 12px 0px;
    font-weight: 400;
  }
  
  .iconContainer {
    flex-shrink: 0;
    padding: 16px;
    padding-right: 0px;
  }
  .iconContainer svg {
    display: block;
  }
  
  .closeButton {
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 16px;
    cursor: pointer;
  }
  
  .notice {
    background: var(--color-notice-bg);
  }
  .notice .iconContainer {
    color: var(--color-notice);
  }
  .warning {
    background: var(--color-warning-bg);
  }
  .warning .iconContainer {
    color: var(--color-warning);
  }
  .success {
    background: hsl(119, 70%, 54%);;
  }
  .success .iconContainer {
    color: #ffc300;
  }
  .error {
    background: var(--color-error-bg);
  }
  .error .iconContainer {
    color: var(--color-error);
  }